<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Upload Video</title>
</head>

<body>
    <div>
        <h1>Upload Video</h1>
        <form action="/upload" method="post" enctype="multipart/form-data">
            <input type="file" name="file" accept="video/mp4">
            <button type="submit">Upload Video</button>
        </form>
    </div>
    {% if snapshot_url %}
    <h2>First detection of a head:</h2>
    <p>Timestamp: {{ timestamp }}s</p>
    <img src="{{ snapshot_url }}" alt="Snapshot">
    {% elif message %}
    <p>{{ message }}</p>
    {% endif %}
</body>

</html>